.poster {
  top: 35%;
  left: 3%;
  max-height: 350px;
  width: auto;
}

.left-col {
  margin-top: 10rem;
  margin-left: 3rem;
}

@media screen and (max-width: 1290px) {
  .poster {
    top:30%;
    left: 2%;
    max-height: 300px;
  }

  .left-col {
    margin-top: 10rem;
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .poster {
    display: none;
  }

  .left-col {
    margin-top: 0;
  }
}
