<div *ngIf="loggedIn else noReview">
  <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
<textarea class=" form-control mt-5 block w-full px-3 py-1.5 text-base font-normal text-gray-700bg-white border border-solid border-gray-300 rounded transition ease-in-out m-0focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          rows="3"
          placeholder="Your review"
          formControlName="review"></textarea>
    <button type="submit" class="border-2 border-black rounded-3xl mr-10 p-2 hover:bg-cyan-200 mt-2">Submit</button>
  </form>
</div>
<ng-template #noReview>
  <div class="text-lg mt-5">
    <p>Login to post a review!</p>
  </div>
</ng-template>


