<div class="grid grid-cols-12 grid-flow-col py-2 border-2 shadow-md bg-gray-100 ">
  <div class="col-span-1 mb-1 items-center place-items-center grid grid-flow-row border-r-2 border-r-gray-300">
    <p class="bg-blue-900 text-white px-2 text-center text-lg">Score :</p>
    <p class="font-bold text-xl">{{anime.averageRating}}</p>
  </div>
  <div class="pl-2 col-span-2 text-lg border-r-2 border-r-gray-300">
    <p>Ranked : <strong>{{anime.ratingRank}}</strong></p>
    <p>Popularity : <strong>{{anime.popularityRank}}</strong></p>
    <p>Members : <strong>{{anime.userCount}}</strong></p>
  </div>
  <div class="pl-2 col-span-2 text-lg border-r-2 border-r-gray-300">
    <p>Type : {{anime.subtype}}</p>
    <p>Status : {{anime.status}}</p>
  </div>
  <div class="pl-2 col-span-3 text-lg border-r-2 border-r-gray-300">
    <p>Number of episodes : {{anime.episodeCount}}</p>
    <p>Average episode length : {{anime.episodeLength}}</p>
  </div>
  <div class="pl-2 col-span-3 text-lg">
    <div *ngIf="loggedIn else giveScore">
      <app-add-rating [animeId]="anime.id"></app-add-rating>
    </div>
    <ng-template #giveScore>
      <p>Login to give your own score !</p>
    </ng-template>
  </div>
</div>
