
.anime-title{
  background-color: #FFEFB8;
  font-family: Roboto, monospace;
  font-style: normal;
  font-weight: bold;
  box-shadow: 4px 4px 1px 0 white;
}

div{
  overflow: hidden;
  box-shadow: 6px 6px 1px 0 white;
}

img {
  border-radius: inherit;
}
