<div class="box border-black border-3 rounded-xl max-w-xs" data-mdb-ripple="true" data-mdb-ripple-color="light">
    <a [routerLink]="['/anime', anime.id]" class="hover:brightness-125">
      <img src="{{anime.posterImageURL}}" alt="{{anime.title}}"  class="rounded-t-lg">
      <figcaption class="absolute text-lg -mt-16 text-white px-4">
        <p class=" w-full py-2.5 bottom-0 inset-x-0 backdrop-blur-xl text-white text-xs text-center leading-4 font-bold">{{anime.title}}</p>
      </figcaption>
    </a>
</div>
