
  <div class="relative overflow-hidden bg-no-repeat bg-cover max-w-xs" data-mdb-ripple="true" data-mdb-ripple-color="light">
    <img src="{{anime.posterImageURL}}" alt="{{anime.title}}"  class="rounded-t-lg">
    <figcaption class="absolute text-lg -mt-16 text-white px-4">
      <p class=" w-full py-2.5 bottom-0 inset-x-0 backdrop-blur-sm text-white text-xs text-center leading-4 font-bold">{{anime.title}}</p>
    </figcaption>
    <a [routerLink]="['/anime', anime.id]">
      <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(251, 251, 251, 0.2)"></div>
    </a>
  </div>
