<mat-accordion class="w-2/5 mt-5 block">
  <ng-container *ngFor="let animeReaction of animeReactionList">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{(animeReaction.reaction.length>20)? (animeReaction.reaction | slice:0:20)+'...':(animeReaction.reaction)}}
        </mat-panel-title>
        <mat-panel-description>
          {{animeReaction.createdAt | date: 'dd/MM/yyyy'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{animeReaction.reaction}}</p>
    </mat-expansion-panel>
  </ng-container>
</mat-accordion>

