.active {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: #FFAA8F solid 7px;
}

img {
  max-height: 100px;
}

a {
  font-family: Roboto, monospace;
  font-style: normal;
  font-weight: bold;
  font-size: xx-large;
}

