<img src="{{anime.posterImageURL}}" alt="{{anime.title}}" class="rounded-t-lg h-auto mt-2 mx-auto">
<div class="p-5">
  <p class="truncate text-lg font-bold tracking-tight text-gray-900 text-center mb-2">{{anime.title}}</p>
  <p class="description text-justify mb-2 p-1">{{anime.description}}</p>
  <a [routerLink]="['/anime', anime.id]"
     class="inline-flex items-center mt-3 mb-1 px-3 py-2 text-sm font-medium font-bold text-center bg-blue-700 rounded-3xl border-2 border-black hover:bg-cyan-200">
    Learn more
  </a>
  <div class="float-right">
    <app-favorite-button [anime]="anime" [favorite]="favorite"></app-favorite-button>
  </div>
</div>
