.bg-custom {
  background-color: #CDE5E3;
  height: 500px;

  >div {
    box-shadow: 4px 4px 1px 0 black;
  }

  img {
    max-height: 125px;
  }

  a {
    background-color: #FFAA8F;
    font-family: Roboto, monospace;
    box-shadow: 2px 2px 1px 0 black;
  }

  .dots {
    height: 18px;
    width: 18px;
    border-radius: 50%;

    &.red {
      background-color: #FF7B7B;
    }
    &.yellow {
      background-color: #FFEFB8;
    }
    &.green {
      background-color: #ADFFBA;
    }
  }

}

