.wrapper {
  height: 81.7vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("/assets/img/main.jpg"),
    center 7rem;
  background-size: cover;
}

a {
  position: absolute;
  top: 36%;
  left: 48%;
  translate: (-50%, -50%);
}
