.bg-custom {
  background-color: #CDE5E3;
  height: 500px;

  >div {
    box-shadow: 4px 4px 1px 0 black;
  }


  img {
    max-height: 125px;
  }

  a {
    font-family: Roboto, monospace;
    font-style: normal;
    font-weight: bold;
    background-color: #FFAA8F;
    box-shadow: 2px 2px 1px 0 black;
  }
.title-custom {
  font-family: "Eras Bold ITC", monospace;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: #FF7B7B;
  -webkit-text-stroke-color: black;

}
  .dots {
    height: 18px;
    width: 18px;
    border-radius: 50%;

    &.red {
      background-color: #FF7B7B;
    }
    &.yellow {
      background-color: #FFEFB8;
    }
    &.green {
      background-color: #ADFFBA;
    }
  }

}

